# You can add env args like API keys or settings here.
# Or add required env args to your local env such as your `~/.bashrc` file.

# https://id.atlassian.com/manage-profile/security/api-tokens
JIRA_API_KEY=

# `bearer` for token,
# `basic` for Jira account API token
# `password` for Jira account password
JIRA_AUTH_TYPE=basic